.btn-add-subtask-onlyTask {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #34343466;
    font-size: 13px;
}

.btn-add-subtask-onlyTask:hover {
    background-color: #e7e1e1c4;
}